body {
  background-image: url(imagens/foto.png);
  background-repeat: no-repeat;
  background-size: 2178px 1226px;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-color: rgb(0, 0, 0);
}

.textbox {
  height: 330px;
  width: 330px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  margin-left: 30px;
  margin-top: -170px;
}

.textbox2 {
  display: inline-block;
  height: 300px;
  width: 330px;
  position: absolute;
  margin-left: 30px;
  margin-top: 45px;
}

.box {
  position: absolute;
  left: 50%;
  margin: 115px 0 0 -200px;
  background-color: white;
  height: 400px;
  width: 400px;
}

.box2 {
  display: inline-block;
  background-color: white;
  height: 400px;
  width: 400px;
}

.container2 {
  margin-top: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 100px;
}

@media (max-width: 830px) {
  .container2 {
      flex-direction: column;
  }
}

h1 {
  text-align: left;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 0px;
  color: black;
  border: none;
  text-decoration: none;
}

p {
  text-align: left;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  color: black;
  line-height: 20px;
  margin-bottom: -20px;
}

.text2 {
  text-align: left;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  color: black;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.text3 {
  text-align: left;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: normal;
  display: inline-block;
  color: black;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.back {
  height: 30px;
  width: 30px;
  background-image: url(imagens/back.png);
  background-size: cover;
  margin-top: 20px;
  margin-left: 29px;
  border-style: none;
  cursor: pointer;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}